@model CompanyViewModel
@{
	ViewData["Title"] = "Chỉnh sửa công ty";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
	var LstProvice = ViewBag.LstProvice as List<WebApp.Entities.Province>;
}
<div class="col-lg-12">

	<div class="card">
		<div class="card-body">
			<h4 class="widgettitle">Chỉnh sửa nhà cung cấp</h4>
			<div class="widgetcontent">
				<div class="form-horizontal">
					<!-- Horizontal Form -->
					<form id="hocnhieuvao" action="/Company/Edit" method="post" enctype="multipart/form-data">
						<input hidden type="text" maxlength="100" id="Id" name="Id" value="@Model.Id">
						<div class="row mb-3">
							<label for="ma_pb" class="col-sm-2 control-label">Tên nhà cung cấp<span style="color:red">(*)</span></label>
							<div class="col-sm-8">
								<input type="text" placeholder="Nhập tên nhà cung cấp" id="Name" name="Name" class="form-control input-default" value="@Model.Name" />
							</div>

						</div>
						<div class="row mb-3">
							<label for="ma_pb" class="col-sm-2 control-label">Tỉnh Thành<span style="color:red">(*)</span></label>
							<div class="col-sm-8">
								<select class="form-control input-default" id="ProvinceId" name="ProvinceId">
									<option value="0"> Chọn tỉnh thành</option>
									@if (LstProvice != null)
									{
										@foreach (var item in LstProvice)
										{
											if (Model.ProvinceId == item.Id)
											{
												<option value="@item.Id" selected>@item.Name</option>
											}
											else
											{
												<option value="@item.Id">@item.Name</option>
											}
										}
									}
								</select>
							</div>

						</div>

						<div class="row mb-3">
							<label for="ten_pb" class="col-sm-2 control-label">Thời gian thành lập </label>
							<div class="col-sm-8">
								<input type="date" placeholder="Nhập Thời gian thành lập" id="FoundedTime" name="FoundedTime" value="@string.Format("{0:yyyy-MM-dd}", Model.FoundedTime)" class="form-control input-default" />
							</div>
						</div>


						<div class="row mb-3">
							<label for="ten_pb" class="col-sm-2 control-label">Trạng thái của công ty </label>
							<div class="col-sm-8">
								<select class="form-control input-default" id="Status" name="Status">
									if(@Model.Status == 1){
									<option value="1" selected> đang hoạt động</option>
									<option value="0"> Không hoạt động</option>
									}
								</select>
							</div>
						</div>

						<div class="row mb-3">
							<label for="ten_pb" class="col-sm-2 control-label">Hình ảnh đại diện của công ty <span style="color:red">(*)</span></label>
							<div class="col-sm-8">
								<img src="@Model.Avatar" id="anh1" name="anh1" width="50" height="80" />
								<input type="file" id="filesanh1" name="filesanh1" style="display: none">
								<input type="text" id="Avatar" name="Avatar" style="display: none">
								<button type="button" onclick="$('#filesanh1').click();" class="btn btn-default"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Chọn File</button>
							</div>
						</div>
						<div class="row mb-3">
							<label for="nguoi_sua" class="col-sm-2 control-label">Người sửa</label>
							<div class="col-sm-8">
								<input disabled type="text" class="form-control input-default" value="">
							</div>
						</div>
						<div class="row mb-3">
							<label for="ngay_sua" class="col-sm-2 control-label">Ngày sửa</label>
							<div class="col-sm-8">
								<input disabled type="text" class="form-control input-default" value="">
							</div>
						</div>
						<div class="row mb-3">
							<label for="ngay_tao" class="col-sm-2 control-label">Ngày tạo</label>
							<div class="col-sm-8">
								<input disabled type="text" class="form-control input-default" value="">
							</div>
						</div>

						<div class="text-center">
							<button type="submit" class="btn btn-primary">Lưu</button>
							<button type="button" class="btn btn-secondary" onclick="window.location.href='/Company';">Đóng</button>
						</div>
					</form><!-- End Horizontal Form -->
				</div>

			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		$('#hocnhieuvao').validate({
			rules: {
				Name: "required",
				ProvinceId: "required",
				Status: "required"
			},
			messages: {
				Name: "Bạn cần nhập tên nhà cung cấp!",
				ProvinceId: "Tỉnh thành không được bỏ trống!",
				Status: "Trạng thái nhà cung cấp không được bỏ trống!"

			}
		});

	});

	$("#filesanh1").on('change', function () {
		debugger
		if (window.FormData !== undefined) {
			var fileUpload = $(this).get(0);
			var files = fileUpload.files;
			// Create FormData object
			var fileData = new FormData();
			// Looping over all files and add it to FormData object
			for (var i = 0; i < files.length; i++) {
				fileData.append(files[i].name, files[i]);
			}
			if (files[0].size > 31457280) {
				alert("File tải lên không vượt quá 5MB");
				return;
			}
			// Adding one more key to FormData object
			fileData.append('username', 'Manas');
			$.ajax({
				url: '/Upload/UploadFiles?folder=NCC',
				type: "POST",
				contentType: false, // Not to set any content header
				processData: false, // Not to process data
				data: fileData,
				success: function (result) {
					console.log(result);
					for (var i = 0; i < result.files.length; i++) {
						$('#Avatar').attr('value', result.files[i]);
						$('#anh1').attr('src', result.files[i]);
						//$('#namefile5').html("" + result.names + "");
					}
				},
				error: function (err) {
					alert(err.statusText);
				}
			});
		} else {
			alert("FormData is not supported.");
		}
	});



</script>